@model IssueTracker.Models.DomainModels.Issue

<h2>Issue Details</h2>
<hr />


<div data-marker="@Json.Encode(Model.Id)"></div>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Id)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Title)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DueDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DueDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Severity.Title)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Severity.Title)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Status.Title)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Status.Title)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Technician.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Technician.FirstName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Comments)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Comments)
    </dd>

</dl>



<div class="form-horizontal" ng-app="Issues">

    <div ng-controller="IssueModalCtrl">
        <modal lolo="modal1" modal-body="body" modal-footer="footer" modal-header="header" data-ng-click-right-button="myRightButton()"></modal>
        <h5 style="text-align:center">
            <a href="#{{modal1}}" id="buttonEditIssue" role="button" class="btn btn-default" data-toggle="modal">Edit Issue</a>
        </h5>
    </div>
    <script type="text/ng-template" id="partialmodal.html">
        <div id="{{handler}}" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title">{{header}}</h5>
                    </div>
                    <div class="modal-body">
                        <div id="loading-indicator" style="display:none" />

                        <div id="formEditIssue">

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </script>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/respond.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>


<script>
    angular.module('Issues', ['ui.bootstrap']);
    angular.module('Issues').controller('IssueModalCtrl', function ($scope) { });

    angular.module('Issues').directive('modal', function () {
        return {
            restrict: 'EA',
            scope: {
                header: '=modalHeader',
                body: '=modalBody',
                handler: '=lolo'
            },
            templateUrl: 'partialmodal.html',
            transclude: true,
            controller: function ($scope) {
                $scope.handler = 'pop';
            },
        };
    });

    $("#buttonEditIssue").click(function () {
        $(".modal-title").html("Edit Issue");
        var Id = $('[data-marker]').data('marker');
        $.ajax({
            url: "/Issue/Edit",
            type: "Get",
            data: { id: Id },
            success: function (response) {
                $("#formEditIssue").empty().append(response);
            },
            error: function () {
                alert("Sorry. The operation was not successful");
            }
        });
    });

</script>
